<div id="nav-bar" ng-style="bgcolors[mylocation]">
  <span id="title">WORKFORCE MANAGEMENT</span>
  <div id="dropdown">
    <div>
      <button
        type="button"
        id="order"
        ng-click="dropdown('order')"
        ng-style="btncolors[mylocation]"
      >
        {{title_order}}
        <i class="lui-icon lui-icon--triangle-bottom"></i>
      </button>
      <ul ng-style="getDropdownStyle('order')">
        <li
          ng-repeat="item in items"
          id="{{item|lowercase}}"
          ng-click="getOption('order',item)"
          ng-class="{'act':(title_order === item)}"
        >
          {{item}}
        </li>
      </ul>
    </div>
    <div ng-style="bgcolors[mylocation]">
      <button
        type="button"
        id="depot"
        ng-click="dropdown('depot')"
        ng-style="btncolors[mylocation]"
      >
        {{title_depot}}
        <i class="lui-icon lui-icon--triangle-bottom"></i>
      </button>
      <ul ng-style="getDropdownStyle('depot')">
        <li
          ng-repeat="depot in depots"
          id="{{depot|lowercase}}"
          ng-click="getOption('depot',depot)"
          ng-class="{'act':(title_depot === depot)}"
        >
          {{depot}}
        </li>
      </ul>
    </div>
  </div>
</div>
